.bio {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 3rem;
}

.bio > .card {
	width: fit-content;
}

.date-range {
	font-size: 1.5rem;
    white-space: nowrap;
	color: #6c757d;
}

.month {
	font-size: 1.3rem;
	color: #9f9f9f;
	display: none;
}

.tech {
	font-size: 0.75rem;
	font-weight: bold;
}

.featurette .tech {
	padding-left: 15px;
	padding-top: 10px;
}

body {
	color: #5a5a5a;
}